@mixin break {
  flex-basis: 100%;
  height: 0;
}
@mixin pseudo($content: "") {
  display: block;
  content: $content;
}

@mixin dark-theme {
  background-color: $dark-theme;
  color: $white;
}
@mixin white-theme {
  background-color: $white;
}
