@mixin break {
  flex-basis: 100%;
  height: 0;
}
@mixin pseudo($content: "") {
  display: block;
  content: $content;
}
@mixin bg-slide($color: red) {
  position: absolute;
  width: 105%;
  height: 100%;
  background-color: $color;
  top: 0;
  left: -105%;
  z-index: -1;
  transition: 0.2s;
}
@mixin sizeXY($x, $y) {
  width: $x;
  height: $y;
}
@mixin circle($diameter) {
  width: $diameter;
  height: $diameter;
  border-radius: 50%;
}
@mixin line-size($w, $h, $mb) {
  span {
    width: $w;
    height: $h;
    &:not(:last-child) {
      margin-bottom: $mb;
    }
  }
}

@mixin dark-theme {
  background-color: $dark-theme;
  color: $white;
}
@mixin white-theme {
  background-color: $white;
}
