$top-header-color: #00aa4b;
$white: #fff;
$blackest: #191919;
$dark-theme: #232323;
$black: #121212;
$warm: #ffaf2d;
$bg: #e8e7e7;
$dark-pale: #a2a1a1;
$pale: #777777;
$more-pale: #b7b7b7;
$extra-pale: #f3f3f3;
$palest: #f7f7f7;
$dark-translucent-bg: rgba(0, 0, 0, 0.5);

$header-mobile-bg: #f1f1f1;

// sizes

$big-title: 40px;
$title: 24px;
$big-text: 18px;
$text: 16px;
