.header {
  width: 100%;
  position: fixed;
  z-index: 10;

  .burger {
    display: none;
  }

  @media (max-width: 1050px) {
    .burger {
      @include circle(73px);
      @include line-size(30px, 2px, 10px);
      position: absolute;
      left: 20px;
      top: 12px;
      display: flex;
      z-index: 20;
    }
  }
}
