.menu {
  position: relative;
  z-index: 16;
  background-color: $white;
  box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.11);

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    color: lighten($black, 15%);

    &:hover {
      color: darken($black, 15%);
    }
  }

  &.active {
    z-index: 5;
    animation: translate 0.7s ease-in;
  }

  // БОЛЬШОЕ ПОДМЕНЮ

  &__submenu--big,
  &__submenu--small {
    background-color: $white;
    position: absolute;
    z-index: 15;
    display: flex;
    font-weight: 100;
    font-size: $big-text;
    display: none;

    &.active {
      display: flex;
      opacity: 1;
      animation: visible 0.5s linear;
    }
  }
  &__item-products,
  &__kinds-and-countries,
  &__item-brands {
    padding-top: 30px;
    padding-bottom: 100px;

    &--small {
      padding-bottom: 0;
    }
  }
  &__item-product {
    &:first-child .menu-link {
      border-top: none;
    }
    .menu-link {
      padding: 10px 100px 10px 90px;
    }
  }
  &__kinds-and-countries {
    border-right: 1px solid $bg;
  }
  &__item-other {
    display: flex;
    background-color: $palest;
  }
  &__cat-subtitle {
    padding-left: 30px;
    color: $pale;
  }
  &__item-kinds {
    padding-bottom: 40px;
    border-bottom: 1px solid $bg;
  }
  &__item-countries {
    padding-top: 30px;
  }
  &__kinds-link {
    display: block;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 60px;

    &--kind {
      height: 30px;
      line-height: 30px;
      font-size: $big-text;
      font-weight: 100;
    }
    &--country {
      display: flex;
      align-items: flex-end;
      height: 30px;
      line-height: 30px;
      font-size: $big-text;
      font-weight: 100;
    }
  }
  &__cat-subtitle {
    color: $pale;
    font-size: $big-text;
    font-weight: 100;
    padding-bottom: 5px;
  }
  &__flag {
    margin-right: 5px;
  }
  &__item-brands {
    padding-left: 20px;
    padding-top: 39px;
  }
  &__item-brand {
    padding-left: 30px;
    padding-right: 126px;
  }
  &__brand-link {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: $title;
    transition-duration: 0.25s;

    &:hover {
      color: $warm;
    }
  }
  &__promo {
    background-color: $warm;
    padding-top: 30px;
    min-width: 440px;
    color: $white;
    text-align: center;

    &--small {
      background-color: $top-header-color;
    }
  }
  &__promo-subtitle {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: $title;
    font-weight: 100;
  }
  &__btn {
    background-color: $black;
    color: $white;
    padding: 10px 25px;
    border-radius: 5px;

    &--small {
      background-color: $warm;
    }
  }
  &__overlay {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: $dark-translucent-bg;
    width: 100vw;
    height: 100vh;
    cursor: pointer;

    &.active {
      display: block;
      animation: visible 0.5s linear;
    }
  }
  // МАЛЕНЬКОЕ ПОДМЕНЮ
  &__submenu--small {
    display: none;
    .menu__item-products {
      padding-bottom: 22px;
    }
    .menu__kinds-and-countries {
      padding-right: 80px;
    }
    .menu-link {
      padding-right: 125px;
    }
    .menu__item-kinds {
      padding-bottom: 0;
    }
    .menu__item-brands {
      padding-left: 0;
    }
    .menu__kinds-link {
      padding-left: 33px;
    }
    .menu__promo--small {
      padding-top: 56px;
    }
    .menu__promo-subtitle {
      padding-top: 37px;
      padding-bottom: 15px;
    }
    .menu__btn--small {
      display: inline-block;
      width: 129px;
      height: 35px;
      line-height: 35px;
      padding: 0;
    }
  }

  @media (max-width: 1450px) {
    &__item-product {
      .menu-link {
        padding-right: 80px;
        padding-left: 70px;
      }
    }
    &__promo {
      min-width: 400px;
    }
  }

  @media (max-width: 1350px) {
    &__item {
      font-size: 12px;
    }
    &__img {
      max-width: 50px;
    }
    &__promo {
      display: none;
    }
  }
  @media (max-width: 1050px) {
    display: none;
  }
}
