.nav {
  background-color: $top-header-color;

  &__menu {
    display: flex;
    height: 48px;
    line-height: 48px;
  }
  &__link {
    display: block;
    padding-right: 25px;
    padding-left: 24px;
    color: darken($white, 10%);
    transition: color 0.15s;
  }
  &__item {
    transition: background-color 0.3s, color 0.2s;
    &:hover a {
      color: $white;
    }
    box-sizing: border-box;
    &:nth-child(10) {
      margin-left: auto;
      a {
        padding: 0;
      }
    }
    &:nth-child(11) {
      margin-left: 35px;
      a {
        padding: 0;
      }
    }
  }
  &__item:first-child &__link {
    padding-left: 0;
  }
  &__item:last-child &__link {
    padding-right: 0;
  }
  &__item--tel {
    position: relative;

    .popup {
      top: 100%;
      right: 0;
      z-index: 21;
      width: max-content;
    }
    .popup__phone {
      color: $top-header-color !important;
    }
  }
  &__item--img {
    display: flex;
    align-items: center;
    justify-content: center;

    & .nav__link {
      display: flex;
      align-items: center;
      padding-left: 20px;
      cursor: pointer;
    }
  }
  .nav__img--1 {
    padding-right: 7px;
  }
  .nav__img--2 {
    padding-right: 5px;
  }
  &__link--line_right {
    position: relative;
    padding-right: 30px;

    &:after {
      content: "";
      position: absolute;
      height: 30px;
      width: 1px;
      background-color: $white;
      opacity: 0.25;
      top: 0;
      transform: translateY(30%);
      right: 0;
      display: block;
    }
  }
  &__link--line_left {
    padding-left: 25px;
  }
  &__item--img.mail {
    position: relative;
  }
  &__btn {
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% + 5px));
    width: 100%;
    height: 100%;
    border-radius: 22px;
    color: $white;
    display: none;
    cursor: pointer;
    z-index: 1;
  }

  @media (max-width: 1600px) {
    &__link {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  @media (max-width: 1450px) {
    &__link {
      padding-right: 8px;
      padding-left: 8px;
    }
  }
  @media (max-width: 1350px) {
    font-size: $text - 2;
  }
  @media (max-width: 1200px) {
    &__item:nth-child(11) {
      margin-left: 15px;
    }
    &__item--tel {
      span {
        display: none;
      }
    }
  }
  @media (max-width: 1050px) {
    position: absolute;
    height: 0;
    width: 100%;
    transition: height 0.3s;
    // overflow: hidden;
    z-index: 19;
    &.active {
      height: 450px;
    }

    &__menu {
      flex-direction: column;
    }
    &.active {
      overflow: hidden;
      .nav__link {
        display: block;
      }
    }
    &__link {
      padding: 0;
      font-size: $big-text;
      text-align: center;
      display: none;
    }
    &__item.mail {
      display: none;
    }
    &__item--tel {
      width: 40px;
      margin-left: auto !important;
      margin-right: 143px;
      margin-top: 25px;

      img {
        height: 40px;
      }
    }
  }
}
