.nav {
  background-color: $top-header-color;

  &__menu {
    display: flex;
    height: 48px;
    line-height: 48px;
  }
  &__link {
    display: block;
    padding-right: 25px;
    padding-left: 24px;
    color: darken($white, 10%);
    transition: color 0.15s;
  }
  &__item {
    transition: background-color 0.3s, color 0.2s;
    &:hover a {
      color: $white;
    }
    box-sizing: border-box;
    &:nth-child(10) {
      margin-left: auto;
      a {
        padding: 0;
      }
    }
    &:nth-child(11) {
      margin-left: 35px;
      a {
        padding: 0;
      }
    }
  }
  &__item:first-child &__link {
    padding-left: 0;
  }
  &__item:last-child &__link {
    padding-right: 0;
  }
  &__item--img {
    display: flex;
    align-items: center;
    justify-content: center;

    & .nav__link {
      display: flex;
      align-items: center;
      padding-left: 20px;
      cursor: pointer;
    }
  }
  .nav__img--1 {
    padding-right: 7px;
  }
  .nav__img--2 {
    padding-right: 5px;
  }
  &__link--line_right {
    position: relative;
    padding-right: 30px;

    &:after {
      content: "";
      position: absolute;
      height: 30px;
      width: 1px;
      background-color: $white;
      opacity: 0.25;
      top: 0;
      transform: translateY(30%);
      right: 0;
      display: block;
    }
  }
  &__link--line_left {
    padding-left: 25px;
  }
  &__item--img.mail {
    position: relative;
  }
  &__btn {
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% + 5px));
    width: 100%;
    height: 100%;
    border-radius: 22px;
    color: $white;
    display: none;
    cursor: pointer;
    z-index: 1;
  }
}
