.search {
  background-color: $bg;
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
  }

  // ЛОГО

  &__logo {
    display: flex;
    align-items: center;
    padding-right: 90px;
  }
  &__logo-img {
    padding-right: 5px;
  }
  &__logo-text {
    font-size: 33px;
    align-self: flex-end;
  }
  &__logo-description {
    display: none;
  }
  &__text-uppercase {
    text-transform: uppercase;
    line-height: 1;
  }

  // ПОИСК

  &__search-container {
    position: relative;
    display: flex;
    max-width: 885px;
    width: 100%;
  }
  &__filter {
    position: relative;
    display: flex;
    align-items: baseline;
    min-width: 65px;
    height: 35px;
    line-height: 35px;
    padding-right: 8px;
    background-color: #f1f1f1;
    border-radius: 5px 0 0 5px;
    margin-right: 1px;
    color: $pale;
    cursor: pointer;
  }
  &__selected-category {
    padding-left: 17px;
    padding-right: 5px;
  }
  &__categories {
    background-color: inherit;
    position: absolute;
    top: 37px;
    padding: 20px 40px 45px 15px;
    cursor: auto;
    display: none;
    z-index: 18;

    &.active {
      display: block;
      animation: visible 0.3s linear;
    }
  }
  &__categories-item {
    cursor: pointer;
    line-height: 1.5;

    &:hover:not(:first-child) {
      color: $top-header-color;
    }

    &--subtitle {
      cursor: auto;
      padding-bottom: 15px;
    }
    &.active {
      color: $top-header-color;
    }
  }

  &__search-line {
    padding: 0 10px;
    flex-grow: 1;
    height: 35px;
  }
  &__results {
    display: none;
    opacity: 0;
    top: calc(100% + 2px);
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $white;
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 22;
    &.active {
      display: block;
      opacity: 1;
    }
  }
  &__result {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $pale;
  }
  &__result-category {
    font-size: 14px;
    color: $pale;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49px;
    height: 35px;
    background-color: $warm;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background 0.3s;

    picture {
      height: 21px;
    }

    &:hover {
      background: lighten($warm, 10%);
    }
  }

  // ПОСТАВЩИКИ И КОРЗИНА

  &__link {
    display: flex;
    align-items: center;
    max-width: 145px;
    cursor: pointer;
    font-weight: 100;
    color: $pale;
  }
  &__icon {
    margin-right: 7px;

    &--cart {
      margin-right: 10px;
      transform: translateY(4px);
    }
  }
  &__phone {
    display: none;
  }
  &__distributors {
    margin-left: auto;
    transition: transform 1s ease;
    overflow: hidden;
    &:hover img {
      animation: translate 0.2s linear;
    }
  }
  &__cart {
    position: relative;
    width: 100%;
    padding-left: 16px;
    box-sizing: border-box;
    margin-left: 10px;
    transition: background-color 0.2s;

    &:after,
    &:before {
      @include pseudo;
      position: absolute;
      height: 14px;
      right: 0;
      width: 100%;
      background-color: inherit;
    }
    &:after {
      top: 1px;
      transform: translateY(-100%);
    }
    &:before {
      bottom: 1px;
      transform: translateY(100%);
    }
    &:hover {
      background-color: $warm;
      color: $white;
    }
    &:hover .search__cart-cost {
      color: $white;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
  }
  &__cart-cost {
    font-weight: normal;
    color: #000;
  }

  @media (max-width: 1600px) {
    &__search-container {
      max-width: 712px;
    }
  }
  @media (max-width: 1450px) {
    &__logo {
      padding-right: 45px;
    }
    &__search-container {
      max-width: 645px;
    }
  }
  @media (max-width: 1350px) {
    &__search-container {
      max-width: 545px;
    }
    &__link {
      font-size: $text - 2;
    }
    &__cart {
      justify-content: flex-end;
      max-width: 128px;
      padding-left: 0;
      margin-left: 0;
    }
  }
  @media (max-width: 1200px) {
    &__search-container {
      max-width: 474px;
    }
    &__cart {
      max-width: 100px;
    }
  }
  @media (max-width: 1050px) {
    background-color: $header-mobile-bg;
    &__wrapper {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &__logo {
      padding-left: 115px;
      padding-right: 0;
      img {
        height: 55px;
      }
    }
    &__logo-text {
      font-size: 30px;
    }
    &__logo-description {
      display: block;
      font-size: 18px;
      font-weight: 100;
    }
    &__search-container {
      max-width: none;
      width: auto;
      margin-left: auto;
      margin-right: 60px;
      transition: all 0.3s;
      cursor: pointer;

      &.active {
        padding-top: 30px;
        position: absolute;
        justify-content: center;
        width: 100vw;
        height: 200vh;
        top: 0;
        margin: 0;
        background-color: $dark-translucent-bg;
        z-index: 20;
      }
    }
    &__search-container.active &__filter {
      display: flex;
    }
    &__filter {
      display: none;
    }
    &__search-container.active &__search-line {
      display: block;
    }
    &__search-line {
      display: none;
      max-width: 70%;
    }
    &__search-container.active &__btn {
      picture {
        display: none;
      }
      background: url("../../../img/loop.png") no-repeat center, $warm;
    }
    &__btn {
      background-color: transparent;
      picture {
        height: auto;
      }
      img {
        height: 40px;
      }
      &:hover {
        background-color: transparent;
      }
    }
    &__results {
      top: 66px;
      width: auto;
    }
    &__phone {
      display: block;
      margin: 0px 15px;
      img {
        height: 40px;
      }
      .popup {
        z-index: 21;
        top: 50%;
        right: 0;
      }
    }
    &__distributors {
      display: none;
    }
    &__cart {
      margin-right: 20px;
      max-width: 135px;
      img {
        height: 40px;
      }

      &:hover,
      &:hover &:after,
      &:hover &:before {
        background-color: transparent;
        color: $pale;
      }
      &:hover .search__cart-cost {
        color: $black;
      }
    }
  }
  @media (max-width: 650px) {
    &__filter {
      display: none !important;
    }
    &__search-line {
      border-radius: 5px 0 0 5px;
    }
    &__cart {
      max-width: none;
      width: auto;
    }
    &__description {
      display: none;
    }
    .active &__btn {
      margin-left: 0;
    }
    &__btn {
      margin-left: auto;
    }
    &__wrapper {
      min-height: 55px;
      box-sizing: content-box;
    }
  }
  @media (max-width: 550px) {
    &__logo {
      display: none;
    }
  }
}
