.search {
  background-color: $bg;
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
  }

  // ЛОГО

  &__logo {
    display: flex;
    align-items: center;
    padding-right: 90px;
  }
  &__logo-img {
    padding-right: 5px;
  }
  &__logo-text {
    font-size: 33px;
    align-self: flex-end;
  }
  &__text-uppercase {
    text-transform: uppercase;
    line-height: 1;
  }

  // ПОИСК

  &__search-container {
    // position: relative;
    display: flex;
    max-width: 885px;
    width: 100%;
  }
  &__filter {
    position: relative;
    display: flex;
    align-items: baseline;
    min-width: 65px;
    height: 35px;
    line-height: 35px;
    padding-right: 8px;
    background-color: #f1f1f1;
    border-radius: 5px 0 0 5px;
    margin-right: 1px;
    color: $pale;
    cursor: pointer;
  }
  &__selected-category {
    padding-left: 17px;
    padding-right: 5px;
  }
  &__categories {
    background-color: inherit;
    position: absolute;
    top: 37px;
    padding: 20px 40px 45px 15px;
    cursor: auto;
    display: none;
    z-index: 18;

    &.active {
      display: block;
      animation: visible 0.3s linear;
    }
  }
  &__categories-item {
    cursor: pointer;
    line-height: 1.5;

    &:hover:not(:first-child) {
      color: $top-header-color;
    }

    &--subtitle {
      cursor: auto;
      padding-bottom: 15px;
    }
    &.active {
      color: $top-header-color;
    }
  }

  &__search-line {
    padding: 0 10px;
    flex-grow: 1;
    height: 35px;
  }
  &__results-wrapper {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: $dark-translucent-bg;
    &.active {
      display: block;
      animation: visible 0.5s linear;
    }
  }
  &__results {
    position: relative;
    z-index: 1;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $white;
    box-sizing: border-box;
  }
  &__result {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $pale;
  }
  &__result-category {
    font-size: 14px;
    color: $pale;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49px;
    height: 35px;
    background-color: $warm;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  // ПОСТАВЩИКИ И КОРЗИНА

  &__link {
    display: flex;
    align-items: center;
    max-width: 145px;
    cursor: pointer;
    font-weight: 100;
    color: $pale;
  }
  &__icon {
    margin-right: 7px;

    &--cart {
      margin-right: 10px;
      transform: translateY(4px);
    }
  }
  &__distributors {
    margin-left: auto;
    transition: transform 1s ease;
    overflow: hidden;
    &:hover img {
      animation: translate 0.2s linear;
    }
  }
  &__cart {
    position: relative;
    width: 100%;
    padding-left: 16px;
    box-sizing: border-box;
    margin-left: 10px;
    transition: background-color 0.2s;

    &:after,
    &:before {
      @include pseudo;
      position: absolute;
      height: 14px;
      right: 0;
      width: 100%;
      background-color: inherit;
    }
    &:after {
      top: 1px;
      transform: translateY(-100%);
    }
    &:before {
      bottom: 1px;
      transform: translateY(100%);
    }
    &:hover {
      background-color: $warm;
      color: $white;
    }
    &:hover .search__cart-cost {
      color: $white;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
  }
  &__cart-cost {
    font-weight: normal;
    color: #000;
  }

  @media (max-width: 1600px) {
    &__search-container {
      max-width: 712px;
    }
  }
  @media (max-width: 1450px) {
    &__logo {
      padding-right: 45px;
    }
    &__search-container {
      max-width: 645px;
    }
  }
  @media (max-width: 1350px) {
    &__search-container {
      max-width: 545px;
    }
    &__link {
      font-size: $text - 2;
    }
    &__cart {
      justify-content: flex-end;
      max-width: 128px;
      padding-left: 0;
      margin-left: 0;
    }
  }
}
