.popup {
  position: absolute;
  display: none;
  z-index: 45;

  &__container {
    display: flex;
    position: relative;
    background-color: $white;
    z-index: 20;
    padding: 60px 60px 60px 50px;
    top: 0;
    right: 0;
    cursor: auto;
  }

  &__call {
    margin-right: 115px;
  }
  &__phone {
    font-size: 20px;
    color: $top-header-color;
  }
  &__description {
    margin-bottom: 27px;
    color: $pale;
  }
  &__subtitle {
    margin-bottom: 20px;
  }
  &__radio-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
  &__radio-input {
    display: none;

    &:checked ~ label {
      border-bottom: 1px solid $pale;
    }
  }

  &__radio-label {
    margin-left: 10px;

    &:hover {
      border-bottom: 1px solid $pale;
    }
  }

  &__back-call {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 20px;
  }
  &__input {
    border-bottom: 1px solid $pale;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;

    &:focus {
      border-bottom-color: $warm;
    }
  }
  &__name-input {
    margin-bottom: 17px;
  }
  &__phone-input {
    margin-bottom: 23px;
  }

  &.active {
    display: flex;
    align-items: flex-start;
    animation: visible 0.5s linear;
  }
  &__btn {
    width: 135px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 22px;
    background-color: $warm;
    color: $white;
    cursor: pointer;
  }
  &__close {
    position: absolute;
    top: 17px;
    right: 17px;
    font-size: 20px;
    font-weight: 100;
    color: $pale;
    cursor: pointer;
  }
  @media (max-width: 800px) {
    &__container {
      padding: 30px 30px 30px 25px;
    }
    &__call {
      margin-right: 20px;
    }
  }
  @media (max-width: 640px) {
    width: 90%;
    &__container {
      width: 100%;
      flex-direction: column;
    }
    &__call {
      margin: 0 0 30px;
    }
  }
}
