.promo {
  display: flex;
  padding-top: 20px;

  &__menu-title {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 25px;
    font-size: 24px;
    color: $warm;
    white-space: nowrap;
  }
  &__menu {
    background-color: $white;
    margin-right: 25px;
    min-width: 300px;
  }

  &__menu-link {
    padding-left: 25px;
    padding-bottom: 13px;
    padding-top: 13px;
    white-space: nowrap;
  }
  &__menu-item:nth-child(2) {
    a {
      border-top: none !important;
    }
  }
  &__slider {
    height: 478px;
  }
  &__slide {
    padding: 60px 80px 45px 63px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $black;
    color: $white;
    cursor: grab;
  }
  &__caption {
    padding-bottom: 62px;
    font-weight: 100;
    color: $pale;
  }
  &__slide-title {
    font-size: 40px;
    line-height: 45px;
    padding-bottom: 13px;
  }
  &__slide-subtitle {
    padding-bottom: 72px;
    font-weight: 100;
    font-size: 18px;
  }
  &__link-button {
    color: $white;
    padding: 7px 20px;
    background-color: $warm;
    border-radius: 17px;
    font-size: 18px;
    transition: background-color 0.2s;
    cursor: pointer;

    &:hover {
      background-color: darken($warm, 10%);
    }
  }
  &__sales {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1 0 300px;
    min-width: 300px;
    width: 100%;
    margin-left: 22px;
    padding-top: 220px;
    padding-left: 26px;
    padding-bottom: 50px;
    border: 1px solid $warm;
    background-color: $white;
  }
  &__sales-img {
    padding-bottom: 10px;
  }
  &__sales-caption {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 100;
  }
  &__sales-title {
    font-size: 40px;
    padding-bottom: 20px;
  }
  &__sales-link {
    position: relative;

    &:hover {
      color: $warm;
    }
    &:after {
      position: absolute;
      content: ">";
      right: -20px;
    }
  }
}
.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 32px !important;
}
.swiper-pagination-bullet {
  border: 1px solid $white;
  cursor: pointer;
  &-active {
    background-color: $white;
    border: none;
  }
}
