.footer {
  @include dark-theme;

  &__main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
  }
  &__menu-title {
    padding-top: 90px;
    padding-bottom: 25px;
    font-size: $title;
    font-weight: 100;
    color: $pale;
  }
  &__menu-item {
    line-height: 24px;
    font-weight: 100;

    &--break:not(:last-child) {
      padding-bottom: 25px;
    }
    a {
      display: block;
    }
  }
  &__menu {
    &:last-child {
      li {
        line-height: 1.15;
      }
    }
  }
  &__copyrights {
    padding-top: 35px;
    padding-bottom: 25px;
    background-color: $blackest;
  }
  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    img {
      padding-right: 15px;
    }
  }
  &__brand-name {
    font-size: $title;
    margin-top: 5px;
    line-height: 18px;
  }
  &__logo-description {
    font-weight: 100;
    color: #787878;
    line-height: 18px;
  }
  & .wrapper--small {
    display: flex;
    justify-content: space-between;
  }
  &__developer {
    font-size: $big-text;
    font-weight: 100;
  }
}
