.footer {
  @include dark-theme;

  &__main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
  }
  &__menu-title {
    padding-top: 90px;
    padding-bottom: 25px;
    font-size: $title;
    font-weight: 100;
    color: $pale;
  }
  &__menu-item {
    line-height: 24px;
    font-weight: 100;

    &--break:not(:last-child) {
      padding-bottom: 25px;
    }
    a {
      display: block;
    }
  }
  &__menu {
    &:last-child {
      li {
        line-height: 1.15;
      }
    }
  }
  &__copyrights {
    padding-top: 35px;
    padding-bottom: 25px;
    background-color: $blackest;
  }
  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    img {
      padding-right: 15px;
    }
  }
  &__brand-name {
    font-size: $title;
    margin-top: 5px;
    line-height: 18px;
  }
  &__logo-description {
    font-weight: 100;
    color: #787878;
    line-height: 18px;
  }
  & .wrapper--small {
    display: flex;
    justify-content: space-between;
  }
  &__developer {
    font-size: $big-text;
    font-weight: 100;
  }

  @media (max-width: 1050px) {
    &__main {
      display: flex;
      flex-direction: column;
    }
    &__menu {
      overflow: hidden;
      max-height: 93px;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }
      &:last-child li:first-child {
        line-height: 93px;
      }
      .footer__menu-item {
        opacity: 0;
        transition: opacity 0.6s;
      }
      &.active {
        max-height: 1000px;
        & > .footer__menu-title:after {
          content: "-";
        }
        .footer__menu-item {
          opacity: 1;
        }
      }
    }
    &__menu-title {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      height: 93px;
      line-height: 93px;
      color: $white;
      cursor: pointer;

      &:after {
        @include pseudo("+");
        display: inline;
        text-align: right;
        font-size: 30px;
        font-weight: 100;
      }
    }
    &__menu-item {
      font-size: $big-text;
      line-height: 30px;
      text-indent: 15px;

      &:last-child {
        padding-bottom: 20px;
      }
    }
  }
  @media (max-width: 500px) {
    &__copyrights .wrapper--small {
      padding-left: 15px;
      flex-direction: column;
      align-items: flex-start;
    }
    &__developer {
      padding-top: 20px;
    }
  }
}
