.recommend {
  &__header {
    text-align: center;
  }
  &__title {
    font-size: $big-title;
    margin-bottom: 12px;
  }
  &__subtitle {
    color: $pale;
    max-width: 650px;
    margin: 0 auto;
    padding-bottom: 65px;
    font-weight: 100;
  }
  &__main {
    display: flex;
  }
  &__main-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 605px;
  }
  &__brand {
    font-size: 20px;
    font-weight: 100;
    padding-bottom: 4px;

    &--big-secondary {
      margin-top: 117px;
    }
    &--small-secondary {
      margin-top: 94px;
    }
  }
  &__category {
    font-size: 30px;
    padding-bottom: 25px;
    max-width: 315px;
  }
  &__description {
    padding-bottom: 30px;
    max-width: 285px;
    font-weight: 100;
    color: $pale;

    &--secondary {
      max-width: 420px;
    }
  }
  &__img-container {
    overflow: hidden;
  }
  &__img-container {
    &--main img {
      transform: translate(10px, 10px);
    }
    &--left img {
      transform: translate(-13px, 8px);
    }
    &--right img {
      transform: translate(5px, 10px);
    }
  }
  &__secondary-items {
    margin-left: 14px;
    flex-grow: 1;
  }
  &__secondary-item--big {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  &__secondary-article-content {
    display: flex;
    flex-direction: column;
    max-width: 465px;
    padding-left: 43px;
  }

  &__secondary-item--small {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
  &__secondary-article-content--small {
    padding-right: 60px;
  }

  @media (max-width: 1200px) {
    &__main-item {
      max-width: 380px;

      img {
        max-width: 100%;
        transform: translateX(0);
      }
    }
    &__secondary-items {
      max-width: 500px;
    }
  }
  @media (max-width: 951px) {
    &__main {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat(1fr);
    }
    &__main-item {
      padding-left: 30px;
      flex-direction: row;
      justify-content: space-between;
      overflow: hidden;
      max-width: 100%;
      img {
        transform: translateY(39px);
      }
    }
    &__secondary-items {
      margin-left: 0;
      margin-top: 10px;
    }
    &__secondary-item {
      align-items: center;
    }
    &__brand--big-secondary,
    &__brand--small-secondary {
      margin-top: 0;
    }
    &__brand {
      font-size: 30px;
    }
    &__category {
      font-size: $big-title;
    }
    &__description {
      font-size: 25px;
    }
    &__secondary-items {
      max-width: 100%;
    }
    article {
      height: 475px;
    }
  }
  @media (max-width: 770px) {
    img {
      width: 200px;
    }
  }
  @media (max-width: 750px) {
    padding-top: 100px;
  }
  @media (max-width: 670px) {
    &__main-item {
      padding-right: 30px;
    }
    &__secondary-item {
      padding-right: 30px;
      padding-left: 30px;
    }
    &__secondary-article-content {
      padding: 0;
    }
    &__category {
      word-break: break-all;
      max-width: none;
    }
    &__description {
      max-width: none;
    }
    &__secondary-article-content {
      max-width: none;
    }
    &__description--secondary {
      max-width: none;
    }
    &__img-container {
      display: none;
    }
  }
  @media (max-width: 460px) {
    article {
      height: auto;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    &__secondary-item--small {
      display: block;
    }
    &__main-item,
    &__secondary-item {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}
