.articles {
  padding: 166px 60px 138px;
  box-sizing: border-box;

  &__header {
    font-size: $big-title;
    padding-bottom: 45px;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 56px;
  }

  &__article {
    &--main {
      flex-basis: 1px;
      padding-right: 110px;
      padding-left: 7px;
    }

    &--secondary {
      display: flex;
      flex-basis: 2px;

      &:not(:last-child) {
        padding-bottom: 45px;
      }
      &:nth-child(2n - 1) .articles__additional--secondary {
        justify-content: space-between;
        padding-right: 7px;
      }
      &:nth-child(2n) {
        .articles__additional--secondary {
          flex-direction: column;
        }
        .articles__manufacturer {
          padding-bottom: 0;
        }
        .articles__date {
          padding-bottom: 10px;
        }
      }
      a {
        min-width: 190px;
      }
    }
  }

  &__additional {
    display: flex;

    &--main {
      justify-content: space-between;
      align-items: baseline;
    }
  }
  &__manufacturer {
    color: $top-header-color;
    padding-top: 23px;
    padding-bottom: 11px;

    &--secondary {
      padding-top: 0;
    }
  }
  &__date {
    color: $pale;
  }
  &__title {
    display: block;
    font-size: $title;
    padding-bottom: 14px;

    &--main {
      padding-bottom: 15px;
    }
  }
  &__content {
    &--secondary {
      padding-left: 15px;
    }
  }
  &__text {
    &--main {
      font-weight: 100;
    }
    &--secondary {
      font-weight: 100;
    }
  }
  &__btn {
    position: relative;
    padding: 9px 40px;
    margin-left: 5px;
    border: 1px solid $dark-pale;
    border-radius: 17px;
    font-weight: 100;

    &:before {
      transform-origin: center right;
      transform: scaleX(0);
    }
    &:hover:before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    &:before {
      @include pseudo;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      inset: 0 0 0 0;
      background: $warm;
      z-index: -1;
      transition: transform 0.3s ease;
    }
    &:hover {
      color: $white;
    }
  }

  a {
    display: inline-block;
    overflow: hidden;
    &.articles__title:hover {
      text-decoration: underline;
    }
    img:hover {
      transition: transform 0.6s;
      transform: scale(1.2);
    }
  }

  @media (max-width: 1450px) {
    &__title {
      font-size: $title - 4;
    }
    &__article {
      &--main {
        & > a {
          display: block;
        }
        width: 40%;
        padding-right: 50px;
      }
    }
  }
  @media (max-width: 1200px) {
    &__main {
      flex-direction: column;
      align-items: center;
    }
    &__article {
      &--main,
      &--secondary {
        width: 100%;
      }
      &--main {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 55px;
        & > a {
          text-align: center;
        }
      }
    }
    &__secondary {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: 1050px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media (max-width: 750px) {
    display: none;
  }
}
