.articles {
    padding: 150px 60px;
    box-sizing: border-box;

    &__header {
        font-size: 40px;
        padding-bottom: 45px;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
    }

    &__article {
        &--main {
            flex-basis: 1px;
            padding-right: 110px;
        }

        &--secondary {
            display: flex;
            flex-basis: 2px;

            &:not(:last-child) {
                padding-bottom: 45px;
            }
        }
    }

    &__additional {
        display: flex;

        &--main {
            justify-content: space-between;
            padding-top: 30px;
            padding-bottom: 20px;
        }

        &--secondary {
            flex-direction: column;
        }
    }
    &__manufacturer {
        color: $top-header-color;
    }
    &__date {
        color: $pale;
    }
    &__title {
        font-size: 24px;
        padding-bottom: 30px;
    }
    &__content {
        &--secondary {
            padding-left: 15px;
        }
    }
    &__btn {
        padding: 10px 35px;
        border: 1px solid $dark-pale;
        border-radius: 17px;
    }
}